{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.csrt_token }}
            {{ form.memodate.label }} {{form.memodate(class='datepicker')}} {{form.hidden_tag()}}
            {{ form.memo.label }}<br>
            {{ form.memo(cols=32, rows=4) }}<br>
            {% for error in form.memo.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for memo in memos %}
        {% include '_memo.html' %}
    {% endfor %}

{% endblock %}